{% extends 'mediator_base.html' %} 
{% block content %}


    <main class="main-wrap">

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Mediators</h2>
                    <p></p>
                </div>
                <div>
                    <a href="{% url 'Create_mediator' %}" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">

                <div class="card-body">
                    {% for user in users %}
                    <article class="itemlist">
                        <div class="row align-items-center">

                            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                <a class="itemside" href="#">

                                    <div class="info">
                                        <h4 class="mb-0">{{ user }}</h4>
                                        <h6></h6>
                                    </div>
                                    
                                </a>
                            </div>

                            {% if not user.user.is_superuser %}
                            <div class="col-lg-2 col-sm-2 col-4 col-status">
                                <a href="" class="btn btn-sm font-sm rounded btn-brand">
                                    Block User
                                </a>
                            </div>
                            {% else %}
                            <div class="col-lg-2 col-sm-2 col-4 col-status">
                                <div >
                                    Mediator
                                </div>
                            </div>
                            {% endif %}
                        </div> <!-- row .// -->
                    </article> <!-- itemlist  .// -->
                    {% endfor %}

                </div> <!-- card-body end// -->
            </div> <!-- card end// -->

        </section> <!-- content-main end// -->
{% endblock %}