{% extends 'nurse_base.html' %} 
{% block content %}


    <main class="main-wrap">

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Job List</h2>
                    <p></p>
                </div>
            </div>
            <div class="card mb-4">

                <div class="card-body">
                    {% for job in jobs %}
                    <article class="itemlist">
                        <div class="row align-items-center">

                            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                <a class="itemside" href="#">

                                    
                                    <div class="info">
                                        <h4 class="mb-0">{{ job.shift.hospital.user.username }}</h4>
                                        <h6>{{ job.shift.title }}</h6>
                                        <h6>{{ job.shift.time }}</h6>
                                        <h6></h6>
                                    </div>
                                    
                                </a>
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>$.{{ job.shift.price_per_hour }}</span> </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-status">
                                {% if job.application_status == 'PENDING' %}
                                <span class="badge rounded-pill alert-warning">{{ job.application_status }}</span>
                                {% elif job.application_status == 'REJECTED' %}
                                <span class="badge rounded-pill alert-danger">{{ job.application_status }}</span>
                                {% else %}
                                <span class="badge rounded-pill alert-success">{{ job.application_status }}</span>
                                {% endif %}
                            </div>
                            <div class="col-lg-1 col-sm-2 col-4 col-date">
                                <span>{{ job.shift.date }}</span>
                            </div>

                        </div> <!-- row .// -->
                    </article> <!-- itemlist  .// -->
                    {% endfor %}

                </div> <!-- card-body end// -->
            </div> <!-- card end// -->

        </section> <!-- content-main end// -->
{% endblock %}